{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Hey {{ name }} - {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

{% if name %}

    <h1>User added !</h1>
    <br><br><br>
    <table class="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
                <td>
                    {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} <br>
                </td>
            </tr>
        {% endfor %}
    </table>
    
{% else %}
    <h1>User list: </h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br>

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br>

            {{ form.submit(class="btn-lg btn-dark") }}
        </form>
    </div>
    <table class="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
                <td>
                    {{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} <br>
                </td>
            </tr>
        {% endfor %}
    </table>
        
    {% endif %}
{% endblock %}