<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Index page</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="css/styles.css">

</head>
  <body>
    <h1>Hello to me!</h1>
    <p>This is my 1st flask project</p>
    <p>My name is {{ my_name }}</p>
    <h3>{{ stud|striptags}}</h3>
    <h3>List of fav players</h3>
    <p>
      {% for fav_p in fav_player %}
        {{ fav_p }}</br>
      {% endfor %}


    </p>
  </body>
</html>